:root {
  --bg: #0d0d0d;
  --text: #ffffff;
  --card: #1a1a1a;
  --border: #e10600;
}

.light {
  --bg: #f5f5f5;
  --text: #000000;
  --card: #ffffff;
  --border: #e10600;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 15px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-btn,
.mode-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text);
}

.title,
.subtitle {
  text-align: center;
  color: var(--border);
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

.card {
  background: var(--card);
  border: 2px solid var(--border);
  padding: 18px;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  background: var(--border);
  color: #fff;
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.video-box {
  background: var(--card);
  border: 1px solid #333;
  padding: 10px;
}

.video-box iframe {
  width: 100%;
  height: 600px; /* خلينا الطول 600 بيكسل عشان يناسب شكل الموبايل */
  border: none;
  border-radius: 8px; /* لمسة جمالية للحواف */
}

/* تعديل للموبايل عشان ميبقاش طويل زيادة عن اللزوم لو الشاشة صغيرة */
@media (max-width: 600px) {
  .video-box iframe {
    height: 500px; 
  }
}

.video-info {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.6;
}

/* Mobile */
/* @media (max-width: 600px) {
  .video-box iframe {
    height: 400px;
  }
} */
